@model ZOO.Models.Feedings

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Feedings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeForFeeding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeForFeeding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalGroups.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalGroups.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodProducts.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodProducts.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeedingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
