@model IEnumerable<ZOO.Models.BusiestEmployees>

@{
    ViewBag.Title = "BusiestEmployees";
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
}
<br />
<br />

<h2>BusiestEmployees</h2>

<table class="table" border="1" style="background-color:white;">
<tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).EmployeeId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Appearances)
            </th>
    <th></th>
           
</tr>

@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appearances)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Employees", new { id = item.EmployeeId }, null) |
                    @Html.ActionLink("Details", "Details", "Employees", new { id = item.EmployeeId }, null) 
                </td>
            </tr>
        }
  </table>



