@model IEnumerable<ZOO.Models.Calories_per_Group_Result>

@{
    ViewBag.Title = "Calories_per_Group";
    Layout = "~/Views/Shared/_LayoutReports.cshtml";

}
@{
    var DateFrom = "";
    var DateTo = "";

    if (IsPost)
    {
        DateFrom = Request.Form["date"];
        DateTo = Request.Form["date"];
    }
}
<br />
<br />
<br />
<br />
<br />
<div class="form-group">
    <div class="col-md-10">
        <p>
            <label for="DateFrom">DateFrom:</label>
            <input type="date" name="DateFrom" value="@Request.Form["date"]" />
        </p>
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        <p>
            <label for="DateTo">DateTo:</label>
            <input type="date" name="DateTo" value="@Request.Form["date"]" />
        </p>
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Generate" class="btn btn-default" />
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<h2>Calories_per_Group</h2>


<table class="table" border="1" style="background-color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).AnimalGroupId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).Eaten)
        </th>



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eaten)
            </td>
 


        </tr>
    }
 </table>





